.search-bar-wrapper {
  background-color: white;
  height: 70px;
  border-bottom: 1px solid lightgray;
  position: sticky;
  top: 0;
  width: 100%;
}

.search-bar {
  display: flex;
  height: 100%;
  max-width: 700px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.search-field input {
  text-align: center;
}

.logo {
  cursor: pointer;
  display: flex;
  align-items: flex-end;
}

.logo img {
  height: 30px;
  margin: 0 10px;
}

.logo img:first-child {
  margin-left: 0;
}

.logo span {
  font-size: 32px;
}

.social-btn {
  cursor: pointer;
  font-size: 24px;
  font-weight: lighter;
  margin: 0 10px;
}

@media screen and (max-width: 550px) {
  .search-field {
    display: none;
  }
}
