.reaction-btn {
  cursor: pointer;
  font-size: 24px;
  margin-right: 20px;
  margin-bottom: 5px;
}

.fas.fa-heart {
  color: #fb3958;
}

.fa-ellipsis-h {
  cursor: pointer;
  width: 10%;
  font-size: 1rem;
  align-self: center;
  text-align: center;
  margin-bottom: 2px;
}
